<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suffle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 파일 쓰기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 파일 읽기 권한 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_badge"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Feed.DetailReviewActivity"></activity>
        <activity android:name=".ui.Mypage.MyListActivity" />
        <activity android:name=".ui.Feed.WritingReviewActivity3" />
        <activity android:name=".ui.Feed.WritingReviewActivity2" />
        <activity android:name=".ui.Feed.WritingReviewActivity1" />
        <activity android:name=".ui.Map.CreateFriendActivity" />
        <activity android:name=".ui.Map.CreateGroupActivity" />
        <activity android:name=".ui.bottomTab.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="3fd6292eab6c1301ddea66289eeefe23" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.suffle.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>